.container{
    padding: 10px 85px;
}
.title{
    text-align: center;
    padding-bottom: 15px;
}
.inner_modal{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.subj_item{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.subj_item input{
    width: 110px;
}