.container{
    padding: 10px 85px;
}
.title{
    text-align: center;
    padding-bottom: 15px;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.item{
    border-radius: 15px;
    background: #F0F0F0;
    padding: 10px;
    display: flex;
    gap: 17px;
    cursor: pointer;
}