.container{
    padding: 10px 85px;
}
.title{
    text-align: center;
    padding-bottom: 15px;
}
.content{
    display: flex;
    justify-content: space-around;
    gap: 25px;
    position: relative;
}
.data_block{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.bottom_btn{
    padding-top: 30px;
    text-align: center;
}
.bottom_btn button{
    width: 350px;
}
.not_edit{
    position: absolute;
    top: 80.8px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.not_edit p{
    font-size: 16px;
    border-radius: 15px;
    background: #F0F0F0;
    padding: 14px;
}