.wrap{
    width: 100%;
}
.wrap img{
    height: 100px;
    width: auto;
}
.hide_inp{
    display: none;
}
.title{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #F0F0F0;
    cursor: pointer;
}