.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 15px;
    text-align: center;
    background: linear-gradient(180deg, #C9FFFC 0%, #8AEE60 100%);
}
.btn{
    width: 250px;
    box-shadow: 0px 0px 4px 0px gray;
}